#Ignore all files
*
# Unignore all dirs
!*/
#Not ignore files with extensions
!*.*
#Ignore the files made by matlab
requiredMCRProducts.txt
readme.txt
mccExcludedFiles.log
#Ignore files made by R
R/runs.list

#Ignore testing directories
EMEWS/jackknife/coding_tests/
EMEWS/jackknife/experiments/
EMEWS/jackknife/test/
#Ignore data and testing directories
data/
junk/
old/


